<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TeacherSignupServlet</servlet-name>
        <servlet-class>ServerPack.TeacherSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherLoginServlet</servlet-name>
        <servlet-class>ServerPack.TeacherLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClassRoomServet</servlet-name>
        <servlet-class>ServerPack.AddClassRoomServet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadClassRoomServlet</servlet-name>
        <servlet-class>ServerPack.ReadClassRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>ServerPack.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadStudentServlet</servlet-name>
        <servlet-class>ServerPack.ReadStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLoginServlet</servlet-name>
        <servlet-class>ServerPack.StudentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostMessageServlet</servlet-name>
        <servlet-class>ServerPack.PostMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadMessageServlet</servlet-name>
        <servlet-class>ServerPack.ReadMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchChunkServlet</servlet-name>
        <servlet-class>ServerPack.FetchChunkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlets</servlet-name>
        <servlet-class>ServerPack.FileUploadServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitializeDownloadServet</servlet-name>
        <servlet-class>ServerPack.InitializeDownloadServet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadFileServlet</servlet-name>
        <servlet-class>ServerPack.ReadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherSignupServlet</servlet-name>
        <url-pattern>/TeacherSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherLoginServlet</servlet-name>
        <url-pattern>/TeacherLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassRoomServet</servlet-name>
        <url-pattern>/AddClassRoomServet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadClassRoomServlet</servlet-name>
        <url-pattern>/ReadClassRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadStudentServlet</servlet-name>
        <url-pattern>/ReadStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLoginServlet</servlet-name>
        <url-pattern>/StudentLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostMessageServlet</servlet-name>
        <url-pattern>/PostMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadMessageServlet</servlet-name>
        <url-pattern>/ReadMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchChunkServlet</servlet-name>
        <url-pattern>/FetchChunkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlets</servlet-name>
        <url-pattern>/FileUploadServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitializeDownloadServet</servlet-name>
        <url-pattern>/InitializeDownloadServet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadFileServlet</servlet-name>
        <url-pattern>/ReadFileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
